
        <p><%= profile_user.name%></p>
        <p><%= profile_user.email%></p>

        <%if{user.id==profile_user.id}%>
            <form action="/users/update/<%=profile_user.id%>">
               <input type="text" name="name" id="">
            </form>
        <%}else{%>
            <p><%= profile_user.name%></p>
            <p><%= profile_user.email%></p>
        <%}%>    
 